@import "Src/client/breakpoints.scss";

table.attributes {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid $Gray;
    }

    tbody {
        tr:last-child {
            border-bottom: none;
        }
    }

    th {
        padding: 19px $space-m;
        line-height: 16px;
        color: $textPrimary;
        background: $inverse;
        size: 14px;
        font-weight: normal;
        text-align: left;

        @include media("<tablet-2") {
            padding: 10px;
            size: 12px;
        }
    }

    td {
        padding: $space-s $space-m;

        @include media("<tablet-2") {
            padding: 10px;
            size: 12px;
        }
    }
}
