.content {
    margin-top: var(--gap-2xl);

    [class*="form-body-input"] {
        margin-top: var(--gap-xl);
        width: 100%;

        &:first-child {
            margin-top: 0;
        }
    }
}
