.content {
    max-width: 688px;
}

.body {
    margin-top: var(--gap-2xl);
}

.input {
    display: block;
    margin-top: var(--gap-xl);

    &:first-child {
        margin-top: 0;
    }
}

.submitBlock {
    margin-top: var(--gap-2xl);
}
