.tag {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: var(--background-main);
	height: 32px;
	border-radius: 4px;
	padding-left: 16px;
	padding-right: 16px;
	font-family: Rubik;
	font-size: 13px;
	color: var(--text-secondary);

	& + & {
		margin-left: 16px;
	}
}
