@import "Src/client/breakpoints.scss";

.tag {
  border-radius: 4px;
  padding: 0 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  height: 18px;
  display: inline-block;
  margin: 0 $space-xs;
}
.tag.green {
  color: #13a463;
  background: $background3;
}
.tag.red {
  background: $background4;
  color: $brandRed;
}
