@import "Src/client/breakpoints.scss";

.tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--background-main);
    height: 32px;
    border-radius: 4px;
    padding-left: var(--gap-m);
    padding-right: var(--gap-m);
    font-family: Rubik;
    font-size: 13px;
    color: var(--text-secondary);

    @include media("<phone-2") {
        padding-left: var(--gap-s);
        padding-right: var(--gap-s);
    }

    & + & {
        margin-left: var(--gap-m);

        @include media("<phone-2") {
            margin-left: var(--gap-xs);
        }
    }
}
