@import "Src/client/breakpoints.scss";

table.support {
    width: 100%;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #172a3f;
    border-collapse: collapse;
    @include media("<tablet-2") {
        font-size: 10px;
    }

    tr {
        display: flex;
        width: 100%;

        td,
        th {
            display: flex;
            width: calc(100% / 7);
            padding: 19px $space-s;
            align-items: center;

            @include media("<tablet-2") {
                padding: 5px $space-xs;
            }

            img,
            .svg-icon {
                margin-right: 10px;
                @include media("<tablet-2") {
                    margin-right: 0;
                }
            }
        }

        th {
            font-weight: normal;
            background: $inverse;
            border-right: 1px solid $Gray;
            border-bottom: 1px solid $Gray;

            &:last-child {
                border-right: none;
            }
        }

        td {
            border-right: 1px solid $Gray;

            &:last-child {
                border-right: none;
            }

            .svg-icon {
                fill: #0b1f35;
            }
        }
    }
}
