.directoryList {
  margin-top: var(--space-l);
  &Top {
    padding-bottom: 4px;
    border-bottom: 1px solid var(--Gray);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 19px;
    li {
      margin-top: var(--space-s);
      flex: 0 1 25%;
    }
  }
}
