@import "Src/client/breakpoints.scss";

.directoryList {
    margin-top: $space-l;

    .directoryListTop {
        padding-bottom: 4px;
        border-bottom: 1px solid $Gray;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 19px;

        li {
            margin-top: $space-s;
            flex: 0 1 25%;

            @include media("<tablet-1") {
                flex: 0 1 50%;
            }
        }
    }
}

.link {
    text-decoration: none;
}

.label {
    &::after {
        display: inline;
        padding: 4px;
        background-color: #f5d6d6;
        font-size: 13px;
        color: #ef3124;
        border-radius: 4px;
        text-transform: uppercase;
        margin-left: 4px;
        font-weight: 500;
        text-decoration: none;
    }
}

.labelOld {
    &::after {
        content: "Устарел";
        // display: inline-block;
    }
}
