.ourCurses {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 62px;
}

.firstCustomSection {
  margin-bottom: 24px;
}
