.body {
    margin-top: var(--gap-2xl);
}

.input {
    margin-top: var(--gap-xl);
    width: 100%;
    max-width: 688px;
}

.submitBlock {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    margin-top: var(--gap-5xl);

    .button {
        margin-right: var(--gap-xl);

        &:last-child {
            margin-right: 0;
        }
    }
}


