.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 10% 90%;
}

.logo {
    transform: scale(0.8);
    margin: 20px auto;
}

.sidebar {
    display: block;
    color: white;
    background-color: #172a3f;

    a {
        color: white;
        text-decoration: none;
    }
}

.content {
    display: block;
    padding: 20px;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.navLink {
    display: block;
    width: 100%;
    padding: 10px 20px;

    &:hover {
        background-color: #999;
    }
}
