@import "Src/client/breakpoints.scss";

.recipesList {
    padding-left: 20px;

    li {
        margin-top: $space-m;
        color: $textParagraphs;

        @include media("<tablet-2") {
            margin-top: $space-s;
        }
    }
}
