@import "Src/client/breakpoints.scss";

.mainPageContent {
    position: relative;
    padding: 0 $space-xxl;
    @include media("<desktop-2") {
        padding: 0 $space-m;
    }
}
.mainPageTop {
    display: flex;
    padding: $space-l $space-l $space-xl;
    background: $background2;
    border-radius: 4px;
    align-items: center;
    img {
        width: 50%;
        margin-top: -64px;
    }
    .text-subheading {
        margin-top: $space-m;
    }
    @include media("<desktop-2") {
        & {
            padding: $space-m $space-m $space-l;
        }
        img {
            width: 45%;
        }
        .text-subheading {
            margin-top: $space-s;
            font-size: 16px;
        }
    }
    @include media("<tablet-2") {
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
        }
    }
}

.mainPageLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
