@import "Src/client/breakpoints.scss";

.footer {
    width: 100%;
    border-top: 1px solid var(--background-main);
    padding-top: 64px;
}

.footerConent {
    display: grid;
    grid-template-columns: 4.1fr 1.9fr repeat(2, 3fr);

    grid-column-gap: 32px;
    padding-bottom: 40px;
    color: var(--text-primary);

    @include media("<tablet-2") {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media("<tablet-1") {
        grid-template-columns: 1fr;
    }

    .sectionOne {
        display: flex;
        flex-direction: column;
        width: 100%;

        p {
            width: 328px;
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            line-height: 18px;
            font-size: 13px;
            color: var(--text-secondary);
            padding: 0;
            margin: 0;
            margin-bottom: 20px;
        }

        :first-child {
            position: relative;
            top: -10px;
        }

        p:last-child {
            width: 100%;
            margin-bottom: 0;
        }
    }

    // TODO: разобраться - куда делись стили
    .sectionTwo {
        color: inherit;
    }

    .sectionThree {
        color: inherit;
    }

    .sectionFour {
        color: var(--text-paragraphs);

        * {
            margin-bottom: 24px;
        }
    }

    [class*="heading"] {
        margin-bottom: 24px;
    }
}

.topBlock {
    width: 100%;
    background-color: #fff;
}

.bottomBlock {
    background-color: var(--background-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
}

.copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-paragraphs);
}

ul.list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        margin-bottom: 26px;
    }
}
