@import "Src/client/breakpoints.scss";

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 32px;
    margin-bottom: 160px;
    padding-top: 34px;

    @include media("<desktop-2") {
        grid-gap: 0;
    }

    @include media("<desktop-1") {
        padding-top: var(--gap-m);
        margin-bottom: var(--gap-3);
    }

    @include media("<phone-2") {
        margin-top: var(--gap-1);
        margin-bottom: var(--gap-xl);
    }
}

.textBlock {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: flex-start;

    @include media("<desktop-2") {
        grid-column-start: 1;
        grid-column-end: 13;
    }
}

.textWrapper {
    padding-top: var(--gap-5xl);
    flex-grow: 1;

    @include media("<desktop-1") {
        padding-top: var(--gap-2xl);
    }

    @include media("<phone-2") {
        padding-top: var(--gap-l);
    }
}

.heading {
    margin-top: 18px;
    margin-bottom: 28px;
}

.paragraph {
    margin-bottom: 28px;
    line-height: 1.5;

    @include media("<phone-2") {
        margin-bottom: var(--gap-2);
        font-size: 14px;
    }
}

.videoBlock {
    grid-column-start: 5;
    grid-column-end: 12;

    display: flex;
    align-items: center;

    @include media("<desktop-2") {
        grid-column-start: 1;
        grid-column-end: 13;

        justify-content: center;
    }
}

.videoWrapper {
    position: relative;
    width: 810px;
    height: 456px;

    @include media("<tablet-2") {
        width: 100%;
        height: auto;

        iframe {
            width: 100%;
            height: 50vw;
        }
    }

    &:hover .girlImg {
        opacity: 0;
    }
}

.bgFormImg,
.dotsImg,
.girlImg {
    position: absolute;
    transition: opacity 0.5s linear;

    @include media("<desktop-1") {
        display: none;
    }
}

.bgFormImg {
    z-index: 1;
    right: -150px;
    bottom: -120px;

    width: 513px;
    height: 448px;

    @include media("<desktop-2") {
        width: 460px;
        height: 408px;

        right: -140px;
        bottom: -100px;
    }
}

.dotsImg {
    z-index: 1;
    right: -149px;
    top: -64px;

    width: 216px;
    height: 216px;

    @include media("<desktop-2") {
        width: 160px;
        height: 160px;

        right: -100px;
        top: -20px;
    }
}

.iframe {
    position: relative;
    z-index: 2;

    @include media("<desktop-1") {
        width: 100% !important;
    }
}

.girlImg {
    right: -149px;
    bottom: -120px;
    z-index: 3;

    width: 512px;
    height: 448px;

    object-fit: contain;

    @include media("<desktop-2") {
        width: 460px;
        height: 400px;
        right: -120px;
        bottom: -90px;
    }
}
