@import "Src/client/breakpoints.scss";

.cssTableWrapper {
    display: inline-block;
    overflow: hidden;
    border: 1px solid $Gray;
    border-radius: 4px;

    table {
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid $Gray;

            &:last-child {
                border-bottom: none;
            }
        }

        th,
        td {
            padding: $space-s $space-m;
            border-right: 1px solid $Gray;

            &:last-child {
                border-right: none;
            }
        }

        th {
            font-weight: normal;
            color: $primary;
            background: $inverse;
        }
    }
}

.tableLabel {
    text-align: center;
}
