@import "Src/client/breakpoints.scss";

.body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: var(--gap-2xl);
}

.avatar {
    width: 19.847%;
    height: auto;

    @include media("<desktop-1") {
        width: 170px;
    }
}

.buttonBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: var(--gap-xl);

    @include media("<desktop-1") {
        display: block;
    }
}

.button {
    margin-right: var(--gap-m);

    &:last-child {
        margin-right: 0;
    }

    @include media("<desktop-1") {
        margin-right: 0;
        margin-bottom: var(--gap-m);

        &:last-child {
            margin-bottom: 0;
        }
    }
}
