.mainPlusesBlock {
    display: flex;
    justify-content: space-between;
}

.cell {
    flex-grow: 1;

    & + & {
        margin-left: 32px;
    }
}

.plusesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: cener;
    text-align: center;
    max-width: 448px;
}

.image {
    width: 208px;
    height: 186px;
    object-fit: contain;
}

