@import "Src/client/breakpoints.scss";

.mainPlusesBlock {
    display: flex;
    justify-content: space-between;
    padding-top: 128px;

    @include media("<tablet-2") {
        display: block;
        flex-wrap: wrap;
        padding-top: var(--gap-3);
        text-align: center;
    }

    @include media("<phone-2") {
        margin-top: var(--gap-m);
    }
}

.cell {
    flex-grow: 1;

    @include media("<tablet-2") {
        display: inline-block;
        flex-grow: 0;
        max-width: 70%;
        margin-bottom: var(--gap-4xl);

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include media("<phone-2") {
        max-width: 100%;
    }

    & + & {
        margin-left: 32px;

        @include media("<tablet-2") {
            margin-left: 0;
        }
    }
}

.plusesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 448px;

    @include media("<tablet-2") {
        max-width: none;
    }
}

.imageWrapper {
    padding-bottom: var(--gap-2);
}

.image {
    width: 208px;
    height: 186px;
    object-fit: contain;
}

.text {
    line-height: 1.4;
    margin: 14px 0;

    @include media("<phone-2") {
        font-size: 14px;
        margin: var(--gap-xs);
    }
}

