@keyframes fadeIn {

    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.container {
    position: absolute;
    left: calc(100% + 25px);
    width: 340px;
    top: 0;
    padding: 20px;
    background-color: var(--background-main);
    border-radius: 4px;
    animation: fadeIn 0.3s;
}
