.definition {
    display: flex;
    flex-direction: column;
}

.left {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.paragraph {
    max-width: 688px;
    margin-top: 6px;
    line-height: 1.4;
}
