@import "Src/client/breakpoints.scss";

.pageSide {
  padding-right: $space-xxl;
  padding-bottom: $space-xxl;
  max-width: 272px;
  min-width: 272px;
  width: 100%;
  box-sizing: content-box;

  @include media("<desktop-2") {
    padding-right: $space-s;
    // max-width: 230px;
  }
  @include media("<desktop-1") {
    display: none;
  }

  &Item {
    display: flex;
    align-items: flex-start;
    margin-top: $space-s;
    max-width: 272px;
    .svgIcon {
      margin-right: 8px;
      fill: $Gray;
    }

    .tag {
      margin-left: $space-xs;
    }

    &:hover {
      text-decoration: none;

      .svgIcon {
        fill: $uiRed;
      }
    }
  }

  &PromoCard {
    padding: $space-m;
    position: relative;
    width: 100%;
    height: 363px;
    background: url('Assets/images/banner.png') center;
  }
}
