@import "Src/client/breakpoints.scss";

.pageTop {
    display: flex;
    align-items: center;
    margin: $space-l 0 $space-s;

    .pageTopContent {
        display: flex;
        margin-left: $space-l;
        flex-direction: column;

        .pageTopContentText {
            margin-top: $space-m;
        }
    }
    @include media("<phone-2") {
        img {
            width: 35%;
        }

        .pageTopContent {
            margin-left: $space-s;
        }

        .pageTopContentText {
            margin-top: 0;
        }
    }
}
