@import "Src/client/breakpoints.scss";

.pageTop {
  display: flex;
  align-items: center;
  margin: $space-l 0 $space-s;

  &Content {
    display: flex;
    flex-direction: column;
    margin-left: $space-l;
  }
}