@import "Src/client/breakpoints.scss";

.container {
    position: relative;

    max-height: 40px;

    @include media("<tablet-2") {

        &:hover .innerContainer {
            background: var(--brand-primary);
            box-shadow: none;
            padding: 0;
            top: 0;
            right: 0;

        }
    }

    &:hover .innerContainer {
        background: #FFFFFF;
        box-shadow: 0 10px 24px rgba(23, 42, 63, .1);

        padding: var(--gap-m);
        top: calc(0 - var(--gap-m));
        right: calc(0 - var(--gap-m));
    }
}

.innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0;
    position: relative;

    @include media("<tablet-2") {
        color: var(--text-inverse);
        background: var(--brand-primary);
    }
}

.container:hover .hiddenPart {
    display: flex;
}

.hiddenPart {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;

    line-height: 22px;

    padding-top: var(--gap-2xl);

    @include media("<tablet-2") {
        display: block;
        padding-top: 0;
        background-color: var(--brand-primary);
    }

    li + li {
        margin-top: var(--gap-m);

        @include media("<tablet-2") {
            margin-top: 0;
        }
    }

    a {
        color: var(--text-primary);
        text-decoration: none;
        transition: background-color 0.25s;

        @include media("<tablet-2") {
            display: block;
            padding: var(--gap-s) var(--gap-xl);
            color: var(--text-inverse);

            &:hover {
                background-color: var(--brand-secondary);
            }
        }
    }
}

.visiblePart {
    display: inline-flex;
    align-items: center;

    @include media("<tablet-2") {
        padding: var(--gap-m);
    }

    &:hover .icon {
        border-color: red;
    }

    &:hover .text {
        color: red;
    }
}

.icon {
    display: inline-flex;

    border-radius: 50%;

    width: 40px;
    height: 40px;

    border: 1px solid #b6bcc3;
    box-sizing: border-box;

    overflow: hidden;
}

.icon + .text {
    margin-left: 8px;
}

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-primary);

    @include media("<tablet-2") {
        color: var(--text-inverse);
    }
}

.text:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("~Assets/icons/bw/triangle-down-small.svg");
    background-position: center;
    background-size: contain;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 4px;
}
