@import "Src/client/breakpoints.scss";

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 32px;

    @include media("<desktop-2") {
        grid-template-columns: 1fr 1fr;
    }

    @include media("<tablet-2") {
        grid-template-columns: 1fr;
    }
}
