@import "Src/client/breakpoints.scss";

.header {
    display: flex;
    align-items: center;
    height: 128px;

    @include media("<tablet-2") {
        height: auto;
        flex-direction: column;
    }

    @include media("<desktop-1") {
        padding: 0 10px;
    }

}

.marginLeftAuto {
    margin-left: auto;

    @include media("<tablet-2") {
        margin-left: 0;
    }

    @include media("<tablet-1") {
        display: none;
    }
}
