.label {
    display: inline-flex;
    margin-left: var(--gap-m);
    align-items: flex-start;

    img + span {
        margin-left: 10px;
    }
}

.icon {
    width: 16px;
    height: 18px;
}

.text {
    font-size: 13px;
    line-height: 1.38;
    color: var(--text-secondary);
}
