@import "Src/client/breakpoints.scss";

.navigation {
  // min-width: 336px;
  height: 100%;
  grid-area: n;

  // @include media("<desktop-2") {
  //   min-width: 265px;
  // }
}
.navigationCollapseBtn {
  display: none;
  text-align: center;
  font-size: 30px;
  padding: 16px 16px 0 16px;
  cursor: pointer;
  color: $Gray;

  // @include media("<desktop-1") {
  //   display: block;
  // }
}
.navigationCategory {
  &Inner {
    display: flex;
    align-items: center;
    margin-top: $space-s;
    padding: 17px 35px 17px 66px;
    cursor: pointer;

    @include media("<desktop-2") {
      padding: $space-s $space-m $space-s $space-l;
    }
    .svgIcon {
      fill: #b6bcc3;
      margin-right: 18px;
    }
    &IconActive {
      margin-right: 18px;
      display: none;
    }
    &Name {
      font-family: $fontSecondary;
      font-weight: 500;
      color: $textParagraphs;
      font-size: $font-size-1;
      line-height: $line-height-2;
      
      @include media("<desktop-1") {
        // display: none;
      }

      &:hover {
        color: $uiRed;
      }
    }
    .arrowIcon {
      margin-left: auto;
      @include media("<desktop-1") {
        // display: none;
      }
    }
  }
  &Collapse {
    overflow: hidden;
    height: 0;
    max-height: 0;
    padding-left: 50px;
    flex-direction: column;
    transition: all 0.5s;

    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $disabledColor;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $primary;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &Item {
      display: flex;
      align-items: center;
      margin-top: $space-s;
      padding: 4px 20px;
      color: $textParagraphs;
      position: relative;

      &Caret {
        position: absolute;
        top: 5px;
        left: 2px;
      }

      &Icon {
        margin-right: 7.5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &Name {
        font-size: $font-size-small;
        line-height: $line-height-caption;
        color: $textParagraphs;
      }
      &:hover {
        color: $primary;
        text-decoration: none;
      }
      &Collapse {
        display: none;
        font-size: $font-size-small;
        line-height: $line-height-caption;
        color: $textParagraphs;
        padding-left: 60px;
        li {
					margin-top: 13px;
					
					a {
						color: $textParagraphs;
					}
        }
      }
    }
    .dropdown.active {
      .navigationCategoryCollapseItem {
        background: $lightBackground;;
      }
      .navigationCategoryCollapseItemCollapse {
        display: block;
      }
      .navigationCategoryCollapseItemCaret {
        transform: rotate(180deg);
      }
    }
  }
}
.navigationCategory.active {
  .navigationCategoryInner {
    border-bottom: 1px solid $background;
    .svgIcon {
      fill: $uiRed;
    }
    &Name {
      color: $primary;
    }
    .arrowIcon {
      transform: rotate(180deg);
    }
  }
  .navigationCategoryCollapse {
    overflow: auto;
    height: auto;
    max-height: 500px;
  }
}
.open {

}

