.body {
    display: flex;
    margin-top: var(--gap-2xl);
}

.player {
    width: 74.431%;
    min-height: 590px;
}

.desc {
    background-color: #ffffff;
    flex: 1;
    margin-left: var(--gap-2xl);
    padding: var(--gap-xl);
    height: 100%;
}

.descItemList {
    margin-top: var(--gap-xl);
}

.descItem {
    font-size: var(--text-heading-6);
    margin-bottom: var(--gap-m);
}
