.base {
    display: block;
    background: var(--brand-primary);
    background-color: var(--background-white);
    min-height: calc(100vh - var(--gap-5xl));
}

.user {
    padding-top: var(--gap-m);
}
