.modalForm {
    width: 448px;

    margin: 0;
    padding: 48px;

    /* Inverse */
    background: #FFFFFF;

    /* Elevation */
    box-shadow: 0px 10px 24px rgba(23, 42, 63, .1);
    border-radius: 4px;
}
