.body {
    justify-self: flex-end;
    display: flex;
    align-items: center;
}

.progressCount {
    color: var(--text-green);
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.completeIcon {
    margin-left: calc(var(--gap-xs) - 1px);
}

.continueLink {
    text-decoration: underline;
    font-size: 13px;
    margin-left: var(--gap-m);
}
