@import "Src/client/global.scss";

.root {
    padding: var(--gap-xl);
    border-radius: 4px;
    margin-bottom: var(--gap-xl);
    border: var(--main-border);

    @include hoverShadow();

    img {
        max-width: 100%;
        max-height: 100%;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.picture {
    width: 10.002%;
    border-radius: 4px;
}

.body {
    width: 72.945%;
    margin-left: var(--gap-m);
}

.desc {
    font-size: 13px;
    color: var(--text-secondary);
    margin-top: var(--gap-m);
}

.divider {
    padding: 0 var(--gap-xs);
}

.title {
    font-family: Rubik;
    font-size: var(--text-heading-3);
    font-weight: bold;
}

.time {
    width: 6.83%;
    margin-left: var(--gap-xl);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .timeIcon {
        width: 16px;
        height: 16px;
    }

    .timeCounter {
        margin-left: 8px;
        font-size: 13px;
        color: var(--text-secondary)
    }
}

.playIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--gap-m);
    width: 48px;
    height: 48px;
    border: 1px solid var(--brand-gray);
    border-radius: 50%;
    cursor: pointer;
    transition: border-color .25s;

    &:hover {
        border-color: var(--brand-black);
    }
}
