@import "Src/client/breakpoints.scss";

.blogBlock {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.bottomContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    @include media("<phone-2") {
        display: block;
        margin-top: var(--gap-2);
    }
}

.bottomContentLeft {
    max-width: 50%;
    overflow: hidden;

    @include media("<phone-2") {
        max-width: 100%;
    }
}

.bottomContentRight {
    max-width: 50%;
    overflow: hidden;

    @include media("<phone-2") {
        margin-top: var(--gap-m);
        max-width: 100%;
    }
}

