@import "Src/client/breakpoints.scss";

.specificationTableWrapper {
    display: inline-block;
    overflow: hidden;
    border: 1px solid $Gray;
    border-radius: 4px;

    table.specification {
        font-family: Roboto;
        border-collapse: collapse;

        tr {
            td {
                padding: $space-xs $space-s;
                font-size: 14px;
                line-height: 16px;
                color: $textParagraphs;
                border-right: 1px solid $Gray;

                &:last-child {
                    border-right: none;
                }
            }

            td.label {
                font-size: 14px;
                line-height: 16px;
                color: $textPrimary;
                background: $inverse;
            }
        }
    }
}
