.wrapper {
    display: flex;
    font-size: 13px;
    padding: 64px 0 16px 0;
    font-family: "Rubik", "sans-serif";
    color: var(--text-secondary);
}

.link {
    cursor: pointer;
}

.slash {
    margin: 0 8px;
}