@import "Src/client/breakpoints.scss";

@import "Src/client/global.scss";

.card {
    background: #fff;
    border: 1px solid var(--background-main);
    border-radius: 4px;
    transition: box-shadow .3s;
    overflow: hidden;
    width: 400px;

    justify-self: center;

    @include hoverShadow();

    @include media("<desktop-1") {
        width: 320px;
    }
}

.yellow {
    background-color: var(--background-1);
}

.blue {
    background-color: var(--background-2);
}

.green {
    background-color: var(--background-3);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;

    @include media("<desktop-1") {
        height: 170px;
    }

    @include media("<tablet-1") {
        height: auto;
    }
}

.heading {
    margin-bottom: var(--gap-m);
    line-height: 1.25;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--gap-xl) var(--gap-2xl) var(--gap-xl) var(--gap-xl);
    height: 292px;

    @include media("<tablet-1") {
        height: auto;
    }

    @include media("<phone-2") {
        padding: var(--gap-xl) var(--gap-l) var(--gap-xl) var(--gap-l);
    }
}

.text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.37;
    max-height: 90px;
    overflow: hidden;

    @include media("<phone-2") {
        font-size: 14px;
    }
}

@keyframes appearance {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.image {
    color: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: appearance 1s forwards;

    @include media("<tablet-1") {
        height: auto;
    }
}

.customSelection {
    margin-top: var(--gap-m);
}

.horizontal {
    display: flex;
    max-width: 100%;
    min-height: 256px;

    & .header {
        width: 42.829%;
        height: auto;

        img {
            max-width: 39%;
        }

    }

    & .body {
        width: 57.131%;
        height: auto;
        padding: var(--gap-xl) var(--gap-2xl) var(--gap-2) var(--gap-xl);
    }
}

.link {
    text-decoration: none;
}

.default {}
