.management {
    width: 328px;
}

.header {
    height: 144px;
    padding: 24px;
    font-family: "Rubik", "sans-serif";
    background: var(--brand-gray);

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img:hover {
        cursor: pointer;
    }

    .title {
        font-weight: 500;
    }

    .videoTitle {
        font-size: 13px;
        margin-top: 9px;
        color: var(--brand-secondary);
    }

    .icons {
        margin-top: 24px;

        img {
            filter: invert(56%) sepia(11%) saturate(381%) hue-rotate(171deg) brightness(98%) contrast(85%);

            &:first-child {
                margin-right: 16px;
            }
        }
    }
}

.body {
    background-color: var(--text-inverse);
    height: 446px;
    overflow: scroll;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--brand-secondary);
    }

    .course {
        display: flex;
        cursor: pointer;
        align-items: center;
        margin: 16px 4px 0 4px;

        .image {
            margin-left: 4px;
            width: 100px;
            height: 56px;
            background: #34CFBC;
        }

        .counter {
            font-size: 13px;
            color: var(--brand-secondary);
        }

        .courseTitle {
            margin-left: 4px;
            font-size: 12px;
            font-weight: 500;
            line-height: 17px;
        }

        .gray {
            margin-top: 3px;
            color: var(--brand-gray);
        }
    }
}