@import "Src/client/breakpoints.scss";

.btn {
    display: inline-block;
    display: inline-flex;
    padding: 14px 32px 15px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: $inverse;
    background: $brandRed;
    border-radius: 4px;
    transition: all 0.5s;
    align-items: center;

    &:hover,
    &:active {
        text-decoration: none;
        background: $hoverBrandRed;
    }

    &:disabled {
        background: $disabledColor;
    }
}

.btnGreen {
    color: $inverse;
    fill: $inverse;
    background: #13a463;

    &:hover {
        text-decoration: none;
        background: $hoverBrandRed;
    }

    &:active {
        text-decoration: none;
        background: $brandRed;
    }
}
