.body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon {
    width: 18px;
    height: 18px;

    img {
        width: 100%;
    }
}

.desc {
    font-size: 14px;
    margin-left: var(--gap-s);
}
