@import "Src/client/breakpoints.scss";

.headerNavigation {
    margin-left: 80px;

    @include media("<tablet-2") {
        margin-left: 0;
    }

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        @include media("<tablet-2") {
            flex-direction: column;
        }

        li + li {
            margin-left: 64px;

            @include media("<tablet-2") {
                margin-left: 0;
            }
        }
    }
}
