.link {
    font-size: 16px;
    color: var(--text-primary);
    text-decoration: none;

    &:hover {
        color: var(--brand-red);
    }
}

.link[href^="mailto:"]:before {
    content: "";
    position: relative;
    top: -1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("~Assets/icons/bw/mail.svg");
    background-size: contain;
    margin-right: 4px;
    vertical-align: middle;
}

