@import "Src/client/breakpoints.scss";

.footer {
  grid-area: f;
  
  .footerInner {
    background: $lightBackground;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "c1 c2 c3 c4"  
    ;
    justify-content: center;
    padding: 0 $space-l $space-xxl $space-l;

    @include media("<tablet-2") {
      grid-template-columns: 1fr 1fr ;
      grid-template-areas: 
        "c1 c4"  
        "c2 c3" 
      ;
    }
    @include media("<tablet-1") {
      grid-template-areas: 
        "c1 c1" 
        "c2 c3"
        "c4 c4"  
      ;
    }
  }

  &Column {
    &:nth-child(1) {
      grid-area: c1;
    }
    &:nth-child(2) {
      grid-area: c2;
    }
    &:nth-child(3) {
      grid-area: c3;
    }
    &:nth-child(4) {
      grid-area: c4;
    }
    margin-right: $space-l;
    padding-right: 86px;

    
    &:last-child {
      padding-right: 0;
      margin-right: 0;
    }
    @include media("<desktop-2") {
      padding-right: $space-l;
    }
    @include media("<tablet-2") {
      margin: auto;
      padding: $space-s 0;
      &:last-child {
        margin-right: auto;
      }
    }
  }
}
.footerBottom {
  background: $background;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $textParagraphs !important;
}
