@import "Src/client/breakpoints.scss";

.footer {
  background: $lightBackground;
  display: flex;
  padding: 0 $space-l $space-xxl $space-l;

  &Column {
    margin-right: $space-l;
    padding-right: 86px;

    @include media("<desktop-2") {
      padding-right: $space-l;
    }

    &:last-child {
      padding-right: 0;
      margin-right: 0;
    }
  }
}
.footerBottom {
  background: $background;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $textParagraphs !important;
}
