@import "Src/client/breakpoints.scss";

* {
    box-sizing: border-box;

    &:focus {
        outline: 1px dashed #000;
    }
    // background-color: pink;
}

/* roboto-regular - cyrillic_latin */
// @font-face {
//     font-family: "Roboto";
//     font-style: normal;
//     font-weight: 400;
//     src: url("~Fonts/Roboto/roboto-v20-cyrillic_latin-regular.eot"); /* IE9 Compat Modes */
//     src:
//         local("Roboto"),
//         local("Roboto-Regular"),
//         url("~Fonts/Roboto/roboto-v20-cyrillic_latin-regular.eot?#iefix")
//         format("embedded-opentype"),
//         url("~Fonts/Roboto/roboto-v20-cyrillic_latin-regular.woff2")
//         format("woff2"),
//         url("~Fonts/Roboto/roboto-v20-cyrillic_latin-regular.woff")
//         format("woff"),
//         url("~Fonts/Roboto/roboto-v20-cyrillic_latin-regular.ttf")
//         format("truetype"); /* Safari, Android, iOS */
//     // url('~Fonts/Roboto/roboto-v20-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
// }

/* roboto-700 - cyrillic_latin */
// @font-face {
//     font-family: "Roboto";
//     font-style: normal;
//     font-weight: 700;
//     src: url("~Fonts/Roboto/roboto-v20-cyrillic_latin-700.eot"); /* IE9 Compat Modes */
//     src:
//         local("Roboto Bold"),
//         local("Roboto-Bold"),
//         url("~Fonts/Roboto/roboto-v20-cyrillic_latin-700.eot?#iefix")
//         format("embedded-opentype"),
//         url("~Fonts/Roboto/roboto-v20-cyrillic_latin-700.woff2") format("woff2"),
//         url("~Fonts/Roboto/roboto-v20-cyrillic_latin-700.woff") format("woff"),
//         url("~Fonts/Roboto/roboto-v20-cyrillic_latin-700.ttf")
//         format("truetype"); /* Safari, Android, iOS */
//     // url('~Fonts/Roboto/roboto-v20-cyrillic_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
// }

/* rubik-regular - cyrillic_latin */
// @font-face {
//     font-family: "Rubik";
//     font-style: normal;
//     font-weight: 400;
//     src: url("~Fonts/Rubik/rubik-v9-cyrillic_latin-regular.eot"); /* IE9 Compat Modes */
//     src:
//         local("Rubik"),
//         local("Rubik-Regular"),
//         url("~Fonts/Rubik/rubik-v9-cyrillic_latin-regular.eot?#iefix")
//         format("embedded-opentype"),
//         url("~Fonts/Rubik/rubik-v9-cyrillic_latin-regular.woff2")
//         format("woff2"),
//         url("~Fonts/Rubik/rubik-v9-cyrillic_latin-regular.woff") format("woff"),
//         url("~Fonts/Rubik/rubik-v9-cyrillic_latin-regular.ttf")
//         format("truetype"); /* Safari, Android, iOS */
//     // url('~Fonts/Rubik/rubik-v9-cyrillic_latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
// }

// /* rubik-500 - cyrillic_latin */
// @font-face {
//     font-family: "Rubik";
//     font-style: normal;
//     font-weight: 500;
//     src: url("~Fonts/Rubik/rubik-v9-cyrillic_latin-500.eot"); /* IE9 Compat Modes */
//     src:
//         local("Rubik Medium"),
//         local("Rubik-Medium"),
//         url("~Fonts/Rubik/rubik-v9-cyrillic_latin-500.eot?#iefix")
//         format("embedded-opentype"),
//         url("~Fonts/Rubik/rubik-v9-cyrillic_latin-500.woff2") format("woff2"),
//         url("~Fonts/Rubik/rubik-v9-cyrillic_latin-500.woff") format("woff"),
//         url("~Fonts/Rubik/rubik-v9-cyrillic_latin-500.ttf") format("truetype"); /* Safari, Android, iOS */
//     // url('~Fonts/Rubik/rubik-v9-cyrillic_latin-500.svg#Rubik') format('svg'); /* Legacy iOS */
// }

// /* rubik-700 - cyrillic_latin */
// @font-face {
//     font-family: "Rubik";
//     font-style: normal;
//     font-weight: 700;
//     src: url("~Fonts/Rubik/rubik-v9-cyrillic_latin-700.eot"); /* IE9 Compat Modes */
//     src:
//         local("Rubik Bold"),
//         local("Rubik-Bold"),
//         url("~Fonts/Rubik/rubik-v9-cyrillic_latin-700.eot?#iefix")
//         format("embedded-opentype"),
//         url("~Fonts/Rubik/rubik-v9-cyrillic_latin-700.woff2") format("woff2"),
//         url("~Fonts/Rubik/rubik-v9-cyrillic_latin-700.woff") format("woff"),
//         url("~Fonts/Rubik/rubik-v9-cyrillic_latin-700.ttf") format("truetype"); /* Safari, Android, iOS */
//     // url('~Fonts/Rubik/rubik-v9-cyrillic_latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
// }

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
    min-width: 320px;
    font-family: "Roboto", sans-serif;

    color: $text-primary;

    --disabled: #d3d4d8;

    /* Elevation */
    --elevation: 0 10px 24px rgba(23, 42, 63, 0.1);

    /* Text Styles */
    --text-heading-1: 48px;
    --text-heading-2: 40px;
    --text-heading-3: 30px;
    --text-heading-4: 22px;
    --text-heading-5: 16px;
    --text-heading-6: 16px;

    @include media("<desktop-3") {
        --text-heading-1: 40px;
        --text-heading-2: 30px;
        --text-heading-3: 22px;
        --text-heading-4: 16px;
        --text-heading-5: 12px;
        --text-heading-6: 16px;
    }

    @include media("<=tablet-1") {
        --text-heading-1: 28px;
        --text-heading-2: 24px;
        --text-heading-3: 18px;
        --text-heading-4: 16px;
        --text-heading-5: 12px;
        --text-heading-6: 16px;
    }

    @include media("<=phone-2") {
        --text-heading-1: 24px;
        --text-heading-2: 20px;
        --text-heading-3: 16px;
        --text-heading-4: 16px;
        --text-heading-5: 12px;
        --text-heading-6: 15px;
    }

    /* Sizes */
    --width-base-container: 1408px;
    --width-base-container-additional: 240px;

    /* Gaps */
    --gap-1: 10px;
    --gap-2: 20px;
    --gap-3: 40px;
    --gap-4: 128px;

    // from arui-feather
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --font-size-m: 16px;

    // Система отступов
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-l: 20px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
    --gap-3xl: 40px;
    --gap-4xl: 48px;
    --gap-5xl: 64px;
    --gap-6xl: 72px;

    @include media("<desktop-3") {
        --width-base-container-additional: 0;
    }

    @include media(">desktop-1", "<desktop-3") {
        --width-base-container: 1280px;
    }

    @include media("<=desktop-1") {
        --width-base-container: 100%;
    }

    --main-border: 1px solid $background-main;
}

body {
    // max-width: 1920px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 22px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.layout {
    display: grid;
    min-width: 320px;
    grid-template-columns: 336px calc(100% - 336px - 336px) 336px;

    // h - header
    // n - navigation
    // f - footer
    // c - content
    grid-template-areas:
        "h h h"
        "n c s"
        "n f f";

    @include media("<desktop-2") {
        grid-template-columns: 265px calc(100% - 265px - 265px) 265px;
        grid-template-areas:
            "h h h"
            "n c c"
            "f f f";
    }

    @include media("<tablet-2") {
        grid-template-columns: 1fr;
        grid-template-areas:
            "h"
            "n"
            "c"
            "f";
    }

    .content {
        grid-area: c;
        overflow: hidden;
    }
}

.page {
    display: flex;
    padding: $space-xxl 0;
    background: $lightBackground;

    @include media("<desktop-2") {
        padding: $space-xl 0;
        // justify-content: center;
    }

    @include media("<tablet-2") {
        padding: $space-m 0;
    }
}

.pageContent {
    // flex: 1 1;
    max-width: 100%;
    padding: 0 $space-l;

    @include media("<tablet-2") {
        padding: 0 $space-s;
    }
}

.text-underline {
    text-decoration: underline;
}

.mt-1 {
    margin-top: $space-xs;
}

.mt-2 {
    margin-top: $space-s;
}

.mt-3 {
    margin-top: $space-m;
}

.mt-4 {
    margin-top: $space-l;
}

.mt-5 {
    margin-top: $space-xl;
}

.mt-6 {
    margin-top: $space-xxl;
}

.mr-1 {
    margin-right: $space-xs;
}

.mr-2 {
    margin-right: $space-s;
}

.mr-3 {
    margin-right: $space-m;
}

.mr-4 {
    margin-right: $space-l;
}

.mr-5 {
    margin-right: $space-xl;
}

.mr-6 {
    margin-right: $space-xxl;
}

.ml-1 {
    margin-left: $space-xs;
}

.ml-2 {
    margin-left: $space-s;
}

.ml-3 {
    margin-left: $space-m;
}

.ml-4 {
    margin-left: $space-l;
}

.ml-5 {
    margin-left: $space-xl;
}

.ml-6 {
    margin-left: $space-xxl;
}

// @include media("<desktop-2") {

// }

@include media("<tablet-2") {
    .mt-sm-3 {
        margin-top: $space-m;
    }

    .mt-sm-2 {
        margin-top: $space-s;
    }
}

.illustration {
    text-align: center;
}

.disabled {
    pointer-events: none;
    user-select: none;
    filter: grayscale(100%);
    opacity: 0.3;
    touch-action: none;
}

@mixin hoverShadow {
    &:hover {
        box-shadow: 0 10px 24px rgba(23, 42, 63, 0.1);
        transition: box-shadow 0.25s;
    }
}

// Типография

// TEXT
.text-heading-2 {
    font-family: $fontSecondary;
    font-size: $font-size-5;
    font-weight: 700;
    line-height: $font-size-6;
    color: $textPrimary;

    @include media("<desktop-2") {
        font-size: $font-size-4;
    }
    @include media("<tablet-2") {
        font-size: $font-size-2;
    }
}

.text-heading-4 {
    font-family: $fontSecondary;
    font-size: $font-size-3;
    font-weight: 700;
    line-height: $line-height-3;
    color: $textPrimary;
    @include media("<desktop-2") {
        font-size: $font-size-2;
    }
    @include media("<tablet-2") {
        font-size: $font-size-1;
    }
}

.text-heading-5 {
    font-family: $fontSecondary;
    font-size: $font-size-1;
    font-weight: 500;
    line-height: $line-height-2;
    color: $textParagraphs;
}

.text-heading-6 {
    font-family: $fontSecondary;
    font-size: $font-size-1;
    font-weight: 500;
    line-height: 20px;
    color: $secondary;
}

.text-subheading {
    font-family: $fontPrimary;
    font-size: $font-size-3;
    font-weight: 400;
    line-height: 31px;
    color: $textParagraphs;

    @include media("<desktop-2") {
        font-size: $font-size-1;
    }
    @include media("<tablet-2") {
        font-size: $font-size-small;
    }
}

.text-body-1 {
    font-family: $fontPrimary;
    font-size: $font-size-2;
    line-height: 25px;
    color: $textPrimary;
}

.text-body-2 {
    font-family: $fontPrimary;
    font-size: $font-size-1;
    line-height: $line-height-2;
    color: $textParagraphs;

    b {
        font-weight: 500;
        color: $primary;
    }
    @include media("<tablet-2") {
        font-size: $font-size-small;
    }
}

.text-body-3 {
    font-family: $fontSecondary;
    font-size: $font-size-small;
    line-height: $line-height-caption;
    color: $textSecondary;
}

.text-navigation {
    font-family: $fontPrimary;
    font-size: $font-size-1;
    line-height: $line-height-2;
    color: $textParagraphs;
    text-decoration: none;
}
// LINKS
.link-heading-4 {
    font-family: $fontSecondary;
    font-size: $font-size-3;
    font-weight: 700;
    line-height: $line-height-3;
    color: $textPrimary;
    transition: color 0.25s;

    &:hover {
        color: $uiRed;
    }

    @include media("<desktop-2") {
        font-size: $font-size-2;
    }
    @include media("<tablet-2") {
        font-size: $font-size-1;
    }
}

.link-navigation {
    font-family: $fontPrimary;
    font-size: $font-size-1;
    line-height: $line-height-2;
    color: $textPrimary;
    text-decoration: none;
}

.link-navigation:hover {
    color: $textPrimary;
    text-decoration: none;
}

.link-body-1 {
    font-family: $fontPrimary;
    font-size: $font-size-2;
    line-height: 25px;
    color: $textParagraphs;

    &:hover {
        color: $textPrimary;
        text-decoration: none;
    }
    @include media("<tablet-2") {
        font-size: $font-size-1;
    }
}

.link-body-2 {
    font-family: $fontPrimary;
    font-size: $font-size-1;
    line-height: $line-height-2;
    color: $textPrimary;
    text-decoration: underline;

    @include media("<tablet-2") {
        font-size: $font-size-small;
    }

    &:hover {
        color: $textPrimary;
        text-decoration: none;
    }
}

.link-body-3 {
    font-family: $fontSecondary;
    font-size: $font-size-small;
    line-height: $line-height-caption;
    color: $textPrimary;
}

.code {
    padding: $space-m;
    font-size: 16px;
    line-height: 22px;
    color: #546271;
    background: $background;
    border-radius: 4px;
}

.tableWrapper {
    display: block;
    overflow: hidden;
    border: 1px solid $Gray;
    border-radius: 4px;
    border-radius: 4px;
    border-radius: 4px;
    border-radius: 4px;
}
