
.verticalNeighbors {
    & + & {
        // margin-top: var(--gap-4);

        @include media("<desktop-2") {
            margin-top: var(--gap-3);
        }

        @include media("<desktop-1") {
            margin-top: var(--gap-2);
        }

        @include media("<phone-2") {
            margin-top: var(--gap-1);
        }
    }
}

.link_type_1 {
    color: var(--text-primary);
    text-decoration: none;
}

@keyframes spinner {

    to { transform: rotate(360deg); }
}

.spinner::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    margin-top: -10px;
    margin-left: -10px;
    content: "";
    border: 2px solid #ccc;
    border-top-color: #000;
    border-radius: 50%;
    animation: spinner .6s linear infinite;
}

