.body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.statBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--gap-3);
}

.statItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--gap-2xl);
}

.statDesc {
    margin-left: var(--gap-xs);
}
