@import "Src/client/breakpoints.scss";

.breadcrumbs {
    display: flex;
    align-items: center;
    font-size: $font-size-small;
    color: $secondary;
    line-height: $line-height-caption;
}

.breadcrumbsItem {
    &:visited {
        color: $secondary;
    }
}

.breadcrumbsSeparator {
    margin: 0 $space-xs;
}
