@import "Src/client/breakpoints.scss";

.breadcrumbs {
    display: flex;
    font-size: $font-size-small;
    line-height: $line-height-caption;
    color: $secondary;
    align-items: center;

    .breadcrumbsSeparator {
        margin: 0 $space-xs;
    }
}
